:root {
    /*COLORS*/
    --dark: rgb(36, 56, 94);
    --dark-trans: rgba(36, 56, 94, 0.25);
    --light: aliceblue;
    --accent: darkorange;
    --accent-trans: rgba(255, 140, 0, 0.5);
}

header {
    padding: 1%;
}

body {
    font-family: Muli, Ubuntu, sans-serif;
    font-size: 16px;
    color: var(--dark);
    background-image: linear-gradient(to bottom, var(--light), var(--dark-trans));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Space Mono", monospace;
    font-size: 48px;
}

.content {
    margin: 5%;
}

.content p {
    color: var(--dark);
    text-align: justify;
}

.content a {
    color: var(--accent);
    text-shadow: 0px 0px 4px var(--accent-trans);
}

.content a:hover {
    color: white;
    text-shadow: 0px 0px 10px var(--accent);
}

.navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--dark);
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: var(--light);
    padding: 14px 16px;
    text-align: center;
    font-size: large;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    background-color: var(--light);
    color: var(--dark);
    border-bottom: 3px solid var(--accent);
}

.navbar a.active {
    border-bottom: 3px solid var(--accent);
}

footer {
    background-color: var(--dark);
    color: var(--light);
    padding: 20px;
    text-align: center;
}


.css-button-3d{
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: var(--dark);
  box-shadow: 0 5px var(--accent);
}
.css-button-3d:hover {
  box-shadow: 0 3px var(--accent);
  top: 1px;
}
.css-button-3d:active {
  box-shadow: 0 0 var(--accent);
  top: 5px;
}