:root {
    /*COLORS*/
    --dark: rgb(36, 56, 94);
    --dark-trans: rgba(36, 56, 94, 0.25);
    --light: aliceblue;
    --accent: darkorange;
    --accent-trans: rgba(255, 140, 0, 0.5);
}

header {
    padding: 1%;
}

body {
    font-family: Muli, Ubuntu, sans-serif;
    font-size: 16px;
    color: var(--dark);
    background-image: linear-gradient(to bottom, var(--light), var(--dark-trans));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Space Mono", monospace;
    font-size: 48px;
}

.content {
    margin: 5%;
}

.content p {
    color: var(--dark);
    text-align: justify;
}

.content a {
    color: var(--accent);
    text-shadow: 0px 0px 4px var(--accent-trans);
}

.content a:hover {
    color: white;
    text-shadow: 0px 0px 10px var(--accent);
}

.navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--dark);
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: var(--light);
    padding: 14px 16px;
    text-align: center;
    font-size: large;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    background-color: var(--light);
    color: var(--dark);
    border-bottom: 3px solid var(--accent);
}

.navbar a.active {
    border-bottom: 3px solid var(--accent);
}

footer {
    background-color: var(--dark);
    color: var(--light);
    padding: 20px;
    text-align: center;
}

button { /*perhaps change all units to em?*/
    font-size: xxx-large;
    color: black;
    text-shadow: 
        0em 0.015em 0.05em cornflowerblue,
        0em 0.05em 0.1em black;
    padding: 15px;
    border-radius: 10vh;
    border: 1px solid midnightblue;
    background-color: cornflowerblue;
    box-shadow:
        0vh 1vh 3vh black,
        inset 0.5vh 0vh 0.5vh navy,
        inset -0.5vh 0vh 0.5vh navy,
        inset 2vh 0vh 2vh rgb(0, 0, 155),
        inset -2vh 0vh 2vh rgb(0, 0, 155),
        inset 0vh -2vh 3vh skyblue,
        inset 0vh 2vh 0.5vh rgba(191, 239, 255, 0.685),
        inset 0vh 4vh 3vh rgba(0, 0, 139, 0.801);
}

button:active {
    background-color: navy; /* make more robust changes later */
}